body{
    background-color: #232323
}

h1{
    color: whitesmoke;
    text-align: center;
}

#message{
    color: #232323;
}

.centrar{
    display: flex;
    justify-content: center;
}

.container{
    width: 600px;
    margin: auto;
}

#colorDisplay{
    font-size: 200%;
}

.square{
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: lime;
    margin: 1%;
    border-radius: 20px;
}

#stripe{
    background-color: whitesmoke;
    height: 30px;
    justify-content:center;
    gap: 100px;
}

.selected {
    background-color: dimgray;
}

#dificultad{
    gap: 20px;
}

.hidden{
    display: none;
}
